
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/style.css")
    body 
         include header
         h1(style='text-align:center;') Joe Master Communication 
            span(style='color:red') JMC
         p(style='text-align:justify;margin:0 150;') Agence de communication en cours de construction. Nous faisons des voix-off, des sites vitrines pour vos entreprises 
           des publicites sur les reseaux.
           Nous couvrons aussi de la maitrise de ceremonie, plus particulierement pour des evenements tels que les diners et autres 
           evenements de ce calibre.

         div.image
           img(src="/image1.avif", alt="image")

         include footer