doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style.css")
        title Infos
    body 
       h1.infos 
           |Nous sommes ouverts du 
           span(style='color:red') lundi 
           |au 
           span(style='color:red') vendredi 
           |,de 
           span(style='color:red') 09h 
           |a 
           span(style='color:red') 17h